<script>
    $(document).ready(function() {
        $('#updateBtn').click(function () {
            $('#detail_form').attr(
                {
                    'enctype': 'multipart/form-data',
                    'action': '[[@{/item/modifyimpl}]]',
                    'method': 'post'
                }
            );
            $('#detail_form').submit();
        });

        $('#deleteBtn').click(function () {
            location.href = '/item/deleteimpl?id=' + $('#id').val();
        });

        $('#addCartBtn').click(function () {
            location.href = '/cart/addcartimpl?item_id=' +$('#id').val();
        });
    })
</script>

<section class="page-section portfolio">
    <div class="masthead container">
        <!-- Portfolio Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Item Detail</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            <div class="col-sm-20">
                <div class="portfolio-item mx-auto">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                </div>
                <form id="detail_form">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" th:value="${item.getId()}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name">상품명</label>
                            <input type="text" class="form-control" id="name" name="name" th:value="${item.getName()}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="price">가격</label>
                            <input type="number" class="form-control" id="price" name="price" step="1000" th:value="${item.getPrice()}" required>
                        </div>
                    </div>
<!--                    수정하려면 기존 값이 있어야 하니까 th:value 로 뿌려준거야-->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="img">상품 이미지 업로드</label>
                            <input type="file" class="form-control" id="img" name="img">
                            <img class="item_img" id="imgView" th:src="'/img/'+${item.getImgName()}"/>
                            <input type="hidden" class="form-control" name="imgName" th:value="${item.getImgName()}" required>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-20">
                        <button id="updateBtn" class="btn btn-secondary btn-lg">수정하기</button>
                        <button id="deleteBtn" class="btn btn-secondary btn-lg">삭제하기</button>
                        <!-- <a th:href="@{/cart/addcartimpl(item_id=${item.getId()})}">-->
                        <button id="addCartBtn" class="btn btn-secondary btn-lg">장바구니 추가</button>
                        <!-- </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>